<app-calendar [onEventClicked]="OnEventClicked" view="month" [showNav]="true" [onEventEdit]="onEdit" [onEventCancel]="onCancel"></app-calendar>
<div id="myModal" [class]="modalClass">
	<div class="modal-dialog input-group">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="OnCancel()">&times;</button>
				<h4 class=" modal-title ">Edit Event</h4>
			</div>
			<div class="modal-body ">
				<label for="title ">Title</label>
				<input type="text " class="form-control " [ngModel]="selectEvent?.title " aria-describedby="basic-addon2 ">
				<label for="title ">Start</label>


				<input type="text " class="form-control " [ngModel]="selectEvent?.start " aria-describedby="basic-addon2 ">

				<label for="title ">End</label>

				<input type="text " class="form-control " [ngModel]="selectEvent?.end " aria-describedby="basic-addon2 ">
				<p class="text-warning "><small>If you don't save, your changes will be lost.</small></p>
			</div>
			<div class="modal-footer ">
				<button type="button " class="btn btn-default " data-dismiss="modal " (click)="OnCancel() ">Cancel Event</button>
				<button type="button " class="btn btn-default " data-dismiss="modal " (click)="OnCancel() ">Close</button>
				<button type="button " class="btn btn-primary " (click)="OnSave() ">Save changes</button>
			</div>
		</div>
	</div>
</div>