<div class="container">
	<div class="row text-center">
		<div class="col-md-4">
			<div class="btn-group" *ngIf="showNav===true">
				<div class="btn btn-primary" (click)="decrement()">
					Previous
				</div>
				<div class="btn btn-default" (click)="today()">
					Today
				</div>
				<div class="btn btn-primary" (click)="increment()">
					Next
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
		</div>
		<div class="col-md-4" *ngIf="showNav===true">
			<div class="btn-group">
				<div class="btn btn-primary" (click)="view = 'month'" [class.active]="view === 'month'">Month</div>
				<div class="btn btn-primary" (click)="view = 'week'" [class.active]="view === 'week'">Week</div>
				<div class="btn btn-primary" (click)="view = 'day'" [class.active]="view === 'day'">Day</div>
			</div>
		</div>
	</div>
	<br>
	<div [ngSwitch]="view">
		<mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="_viewDate" [events]="calendarEvents" [activeDayIsOpen]="activeDayIsOpen"
			(eventClicked)="OnEventClicked($event)" (dayClicked)="dayClicked($event.day)">
		</mwl-calendar-month-view>
		<mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="_viewDate" [events]="calendarEvents" (eventClicked)="onEventClicked($event)">
		</mwl-calendar-week-view>
		<mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="_viewDate" [events]="_dayCalendarEvent" [dayEndHour]="dayEndHour"
			[dayStartHour]="dayStartHour" (eventClicked)="onEventClicked($event)" (hourSegmentClicked)="onHourSegmentClicked($event)">
		</mwl-calendar-day-view>
	</div>
</div>