<div *ngIf="isLoggedin" class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Welcome {{fuser?.userName}}</h3>
	</div>
	<div class="panel-body">
		<strong>upcoming event</strong>

		<ul class="list-group">
			<li *ngFor="let item of newsFeed; let i = index" [class]="item.class" (mouseenter)="onMouseEnter(i)" (mouseout)="onMouseout(i)">{{item.message}}</li>
		</ul>
	</div>
</div>
<div *ngIf="!isLoggedin" class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Welcome</h3>
	</div>
	<div class="panel-body">
		<h4>Please
			<a class="btn btn-default" routerLink="/signin" role="button">loggin</a> first
		</h4>
	</div>

</div>